.product{
    display:flex;
    padding-bottom: 5px;
    border-bottom: 1px solid #aaa;
    margin-bottom: 10px;
}
.product-body{
    padding-left:20px;
}
.product__body-name{
    color:blue;
    font-weight: 400;
}
.product__subBody{
    display: flex;
    justify-content: space-between;
    margin-bottom:10px
}